body {
    font-family: Arial;
    padding: 25px;
    background-color: #014783;
    color: #006ac0;
    text-align: center;	
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
a{
    text-decoration: none;
}

.logo{
    margin: 20px;
    width: 200px;
}
.titulo{
    margin: 20px;
    width: 70%;
    font-size: 20px;
}

.header, .wrapper, .footer{ 
    background-color:#FFFFFF;
    border-radius: 5px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(43, 43, 43);
}
.header{
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer{
    font-size: 20px;
    padding: 20px 0 ;
    margin: 20px 0;
}
.textoFooter{
    display: flex;
    font-size: 20px;
}

.fa { 
    margin: 0 auto; 
    display: flex; 
    color: #8c0200; 
}

.icone{
    padding: 20px;
}

.numero{    
    padding: 20px 10px 20px 50px;
    
}

.vacinados{    
    padding: 20px 20px 20px 20px;

}
  
@media only screen and (max-width: 800px) {
    .logo{
        width: 70%;
    }
    .header, .wrapper, .footer{ 
        width: 90%;
        padding: 5%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: row;
    }
    .header{
        background-color:#FFFFFF;
        border-radius: 5px;
        margin: 5%;
        margin-bottom: 5px;
        flex-wrap: wrap;
    }
    .wrapper{
        margin: 5%;
        margin-bottom: 0px;
        flex-wrap: wrap;
    }
    .footer{
        background-color:#FFFFFF;
        border-radius: 5px;
        font-size: 20px;
        margin-top: 5%;
    }
    .textoFooter{
        font-size: 20px;
    }
    .icone, .numero, .vacinados{
        padding: 5%;
    }
}